<p-table [value]="payments">
  <ng-template pTemplate="header">
      <tr>
          <th>TRANSACTION ID</th>
          <th>TRANSACTION METHOD</th>
          <th>TRANSACTION AMOUNT</th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-payments>
      <tr>
          <td>
            <a [routerLink]="['/cart', payments.paymentId]">
                {{payments.paymentId}}
            </a></td>
          <td>{{payments.method}}</td>
          <td>{{payments.amount}}</td>
      </tr>
  </ng-template>
</p-table>
