<p-accordion>
  <p-accordionTab header="Information">
    You can add and delete products from this module
  </p-accordionTab>
</p-accordion>

<div class='card'>
  <div class='card-header'>
    <!-- {{title}} -->
  </div>
  <h3>Update Products:
    <button pButton type="button" class="ui-button-raised ui-button-warning" [routerLink]="['addservicetype']"
      label="Add Product" style="margin: 2px" style="margin-left: 0px"></button>
  </h3>
  <h4>Service Types: </h4>
</div>

<p-table [value]="serviceTypes">
  <ng-template pTemplate="header">
    <tr>
      <th>TYPE ID</th>
      <th>TYPE</th>
      <th>FEE</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-serviceTypes>
    <tr>
      <td>
        <a [routerLink]="['/products', serviceTypes.serviceTypeId]">
          {{serviceTypes.serviceTypeId}}
        </a>
      </td>
      <td>{{serviceTypes.type}}</td>
      <td>{{serviceTypes.fee}}</td>
    </tr>
  </ng-template>
</p-table>